/* Palette */

$default: #172b4d;
$primary: #5e72e4;
$secondary: #f4f5f7;
$info: #11cdef;
$success: #2dce89;
$danger: #f5365c;
$warning: #fb6340;

/* Other colors */

$white: #ffffff;
$black: #000000;
$default-transparent: #172b4dDD;
$primary-transparent: #5e72e433;
$black-transparent-5: rgba(0,0,0,0.5);
$shadow: rgba(50,50,50,0.1);
$shadow-darker: rgba(50,50,50,0.4);
$port-gore: #282454;
$port-gore-transparent: #282454DD;
$blue-ribbon: #1072ee;
$blue-ribbon-transparent: #1072EEAA;
$royal-navy-blue: #045FD3;
$selago: #F8F9FE;
$deutzia-white: #f7fafc;
$gold: #ffd600;
$royal-blue: #3e56d8;
$ghost: #ced4da;
$hit-gray: #adb5bd;
$regent-gray: #82909d;
$bali-hai: #8f9eaf;
$blue-bayoux: #525F7F;
$lynch: #617891;
$nile-blue: #172b4d;
$washed-black: #212529;
$quill-tip: #32325d;

/* Typography */

$primary-black: 'OpenSans-ExtraBold';
$primary-black-italic: 'OpenSans-ExtraBoldItalic';
$primary-bold: 'OpenSans-Bold';
$primary-bold-italic: 'OpenSans-BoldItalic';
$primary-italic: 'OpenSans-Italic';
$primary-light: 'OpenSans-Light';
$primary-light-italic: 'OpenSans-LightItalic';
$primary-medium: 'OpenSans-SemiBold';
$primary-medium-italic: 'OpenSans-SemiBoldItalic';
$primary-regular: 'OpenSans-Regular';

/* Shadow */

$default-card-shadow: 0 0 10px $shadow;
$default-input-shadow: 0 2px 2px $shadow;
$default-button-shadow: 0 4px 6px $shadow, 0 1px 3px $shadow;
$default-button-hover-shadow: 0 4px 10px $shadow, 0 2px 5px $shadow-darker;

/* Dimensions */

$header-height: 65px;
$page-with-header-height: calc(100vh - 65px);
$app-padding: 30px;
$default-border-radius: 5px;
$default-input-height: 40px;

/* Durations */

$default-transition-duration: 0.4s;

/* Base font size */

$base-font-size: 16px;
$tablet-font-size: 14px;
$mobile-font-size: 12px;