@import "../../../styles/abstracts/variables.scss";

.HeaderContainer {
  display: flex;
  color: $white;
  height: $header-height;

  .Title {
    display: flex;
    flex: 1;
  }

  .UserSection {
  }
}